h1{
    text-align: center;
    background: #cccccc;

}

h2{
    text-align: center;
    background: #cccccc;

}

h3{
    text-align: center;
    background: #cccccc;
}
.obs{
    color: red;

    
}
body{

background-color: rgb(81, 78, 74);
}

#ptest1{
    text-align: center;
    color: rgb(77, 77, 13);
    font-size: 20px;
    background: #cccccc;

}
#ptest2{
    text-align: center;
    background: #cccccc;
}

p{
    color: blue;
    font-size: 20px;
};




h1{color:red;}

ul{
    list-style-position: inside;
    list-style-type: circle;
    padding: 10px;

}
p.centro{
    text-align: center;
    color: green;
    font-size: 20px;
    background: #cccccc;

}

#f1{
    text-align: center;
    }
/*estilos do menu*/


.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
/*
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}*/

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}
/*
.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ff6600;
}
*/

.content {
    padding: 20px;
}

.nav-cont{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.nav-links{
    width: fit-content;
    flex-grow: 0;
}

